---
- name: Ensure required groups exists
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop:
    - ssh

- name: Collect existed groups to ansible facts
  ansible.builtin.getent:
    database: group

- name: Create groups list to add users to
  ansible.builtin.set_fact:
    common_groups: "{{ wanted_groups | select('in', ansible_facts.getent_group.keys()) | list }}"
  vars:
    wanted_groups:
      - root
      - sudo
      - ssh
      - docker

- name: Create user accounts
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ common_groups }}"
    shell: /bin/bash
  loop: "{{ ssh_accounts }}"
  loop_control:
    label: "{{ item.username }}"

- name: Add ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    key: "{{ item.key }}"
  loop: "{{ ssh_accounts }}"
  loop_control:
    label: "{{ item.username }}"

- name: Limit access to only users of _ssh group
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    search_string: AllowGroups
    line: AllowGroups ssh
  notify:
    - Reload sshd
