{
    "log": {
        "loglevel": "error"
    },
    "inbounds": [
        {
            "port": 443,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "flow": "xtls-rprx-vision",
                        "id": "{{ xray_ru.user.uuid }}"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "raw",
                "security": "reality",
                "realitySettings": {
                    "dest": "www.googletagmanager.com:443",
                    "privateKey": "{{ xray_ru.reality.private_key }}",
                    "serverNames": [
                        "www.googletagmanager.com"
                    ],
                    "shortIds": [
                        "{{ xray_ru.user.short_id }}"
                    ]
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}
