{
    "log": {
        "loglevel": "error"
    },
    "inbounds": [
        {
            "port": 443,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "flow": "xtls-rprx-vision",
                        "id": "{{ xray_ru.user.uuid }}"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "raw",
                "security": "reality",
                "realitySettings": {
                    "dest": "www.googletagmanager.com:443",
                    "privateKey": "{{ xray_ru.reality.private_key }}",
                    "serverNames": [
                        "www.googletagmanager.com"
                    ],
                    "shortIds": [
                        "{{ xray_ru.user.short_id }}"
                    ]
                }
            }
        }
    ],
    "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
            {
                "type": "field",
                "protocol": ["bittorrent"],
                "outboundTag": "block"
            },
            {
                "type": "field",
                "domain": ["domain:ru"],
                "outboundTag": "direct"
            },
            {
                "type": "field",
                "ip": ["geoip:ru", "geoip:private"],
                "outboundTag": "direct"
            },
            {
                "type": "field",
                "network": "tcp,udp",
                "outboundTag": "proxy-nl"
            }
        ]
    },
    "outbounds": [
        {
            "tag": "block",
            "protocol": "blackhole"
        },
        {
            "tag": "direct",
            "protocol": "freedom"
        },
        {
            "tag": "proxy-nl",
            "protocol": "vless",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ xray_nl_host }}",
                        "port": 443,
                        "users": [
                            {
                                "id": "{{ xray_nl.user.uuid }}",
                                "encryption": "none",
                                "flow": "xtls-rprx-vision"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "reality",
                "realitySettings": {
                    "serverName": "www.googletagmanager.com",
                    "fingerprint": "chrome",
                    "shortId": "{{ xray_nl.user.short_id }}",
                    "publicKey": "{{ xray_nl.reality.public_key }}"
                }
            }
        }
    ]
}
