{
    "log": {
        "loglevel": "info",
        "access": "/var/log/xray/access.log",
        "error": "/var/log/xray/error.log"
    },
    "inbounds": [
        {
            "port": 443,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "flow": "xtls-rprx-vision",
                        "id": "{{ xray_freedom.user.uuid }}"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "raw",
                "realitySettings": {
                    "dest": "www.googletagmanager.com:443",
                    "privateKey": "{{ xray_freedom.reality.private_key }}",
                    "serverNames": [
                        "www.googletagmanager.com"
                    ],
                    "shortIds": [
                        "{{ xray_freedom.user.short_id }}"
                    ]
                },
                "security": "reality"
            }
        }
    ],
    "outbounds": [
        {
            "tag": "direct",
            "protocol": "freedom"
        }
    ]
}
