---
- name: Make sure swarm is initialized
  community.docker.docker_swarm:
    state: present
    advertise_addr: "{{ swarm_manager_address }}"
    listen_addr: "{{ swarm_manager_address }}"

- name: Get swarm info
  community.docker.docker_swarm_info:
    nodes: true
  register: swarm  # noqa: var-naming[no-role-prefix]

- name: Store join tokens
  ansible.builtin.set_fact:
    worker_join_token: "{{ swarm.swarm_facts.JoinTokens.Worker }}"  # noqa: var-naming[no-role-prefix]
    manager_join_token: "{{ swarm.swarm_facts.JoinTokens.Manager }}"  # noqa: var-naming[no-role-prefix]

- name: Log in to the container registry
  community.docker.docker_login:
    registry_url: ghcr.io
    username: "{{ secrets.ghcr.login }}"
    password: "{{ secrets.ghcr.token }}"
