---
- name: Set inventory_hostname as hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Add hostname to /etc/hosts in hostname
  ansible.builtin.lineinfile:
    state: present
    path: /etc/hosts
    search_string: "127.0.2.1"
    line: "127.0.2.1 {{ inventory_hostname }}"
