---
name: Deploy test
on:  # yamllint disable-line
  push:
    branches:
      - main
    paths-ignore:
      - 'prod/**'
      - '.github/workflows/deploy-prod.yml'
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  deploy:
    needs: lint
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup project
        uses: ./.github/actions/setup-project

      - name: Install ssh keys
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Run the playbook
        run: |
          uv run ansible-playbook test/site.yml --inventory test/hosts.yml --user infra --become
