---
name: Deploy test
on:  # yamllint disable-line
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  deploy:
    needs: lint
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup project
        uses: ./.github/actions/setup-project

      - name: Restore ansible vault password
        run: echo ${{ secrets.ANSIBLE_VAULT_KEY }} > .vault-key

      - name: Install ssh keys
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Run the playbook
        run: |
          uv run ansible-playbook --inventory hosts.yml --user infra --become site.yml
